@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Poppins&display=swap');

body, h1, h2, h3, p, div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home {
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 auto; 
}

.intro,
.introB,
.introC {
    flex: 1;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 0;
}

.intro {
    background-color: #77736D;
    color: #E4DCD1;
}

.introB {
    color: #77736D;
    background-color: #E4DCD1;
}

.intro p {
    text-align: center;
    padding: 250px 25px;
}

.introB p {
    text-align: center;
    padding: 275px 25px;
}

.model-container,
.model-container1 {
    flex: 1;
    margin-bottom: 0px;
}

.racks-container {
    flex: 1;
    margin-bottom: 0px;
    flex-direction: column-reverse;
}

.model1,
.racks {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

@media (min-width: 768px) {
    .model-container,
    .model-container1,
    .racks-container,
    .intro,
    .introB,
    .introC {
        flex: 0 0 50%; 
    }

}